@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font: #504b4b;
  --body-color1: #f5f5f5;
  --body-color: #eeeeee;
  --p-color: #554f4fbe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  font-family: "Roboto", sans-serif;
}
p {
  color: var(--p-color);
}
ul {
  list-style: none;
}
span {
  color: #8529b9;
  font-weight: bold;
}
/*HEADER START*/
.main-header {
  margin-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.logo a {
  text-decoration: none;
  color: var(--font);
}
.logo h1 {
  font-weight: normal;
}
.logo {
  display: flex;

  letter-spacing: 4px;
  font-size: 1em;
  flex-basis: 25%;
  justify-content: right;
  font-family: "Lato", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.filler {
  flex-basis: 25%;
}
.nav-links a {
  color: var(--font);
  text-decoration: none;
  letter-spacing: px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}

.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #8461bd;
  display: block;
  margin: auto; /*MAKAO*/
  transition: 0.5s;
}
.nav-links li:hover::after {
  width: 100%;
}

.burger {
  display: none;
}
.burger div {
  /*display:block; dodao*/
  cursor: pointer;
  width: 25px;
  height: 3px;
  background-color: var(--font);
  margin: 5px;
  transition: 0.3s ease;
}
@media screen and (max-width: 1135px) {
  .nav-links {
    width: 60%;
  }
  .filler {
    display: none;
  }
  .logo {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 700px) {
  .main-header {
    margin-bottom: 10px;
  }
  .logo {
    flex-basis: 80%;
    justify-content: flex-start;
  }
  .filler {
    display: none;
  }
  body {
    overflow-x: hidden;
    font-size: 13px;
  }
  .nav-links {
    z-index: 1000;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background: #8763c09f;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .nav-links {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }

  .nav-links a {
    color: #242627;
    font-size: 1em;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.burger-active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-active .line2 {
  opacity: 0;
}

.burger-active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*HEADER END*/

.section1 {
  display: flex;
  max-width: 60%;
  margin: auto;
  min-height: 40vh;
  align-items: center;
  padding-bottom: 30px;
}

.text1 {
  flex: 1;
  color: var(--font);
  font-size: 1.5em;
}
.text1 h3 {
  font-weight: normal;
  padding-bottom: 10px;
}
.text1 h2 {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.text1 p {
  color: var(--font);
  font-size: 0.7em;
}

.text1 p,
h2 {
  margin-top: 20px;
}

.cover1 {
  /* position: relative; */
  text-align: center;
  flex: 2;
}
.cover1 img {
  width: 50%;
  height: auto;
  /* float: right; */
}
.pic1 {
  filter: drop-shadow(0px 5px 3px black);
}

.section2 {
  display: flex;
  max-width: 60%;
  margin: auto;
  min-height: 40vh;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.text2 {
  flex: 1;
  color: var(--font);
  font-size: 1.5em;
}
.text2 h3 {
  font-weight: normal;
}
.text2 h2 {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.text2 p {
  color: var(--font);
  font-size: 0.7em;
}

.text2 p,
h2 {
  margin-top: 20px;
}

.cover2 {
  flex: 2;
  text-align: center;
}
.cover2 img {
  width: 50%;
  height: auto;
}

.pic2 {
  filter: drop-shadow(0px 5px 3px black);
}

.section3 {
  max-width: 60%;
  margin: auto;
  min-height: 30vh;
  align-items: center;
  padding-top: 40px;
  flex: 1;
  color: var(--font);

  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1135px) {
  .section1 {
    flex-direction: column;
    text-align: center;
  }
  .section2 {
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
  }

  .section3 {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
  }

  .cover1 {
    margin-top: 30px;
  }
  .cover2 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .text1 {
    padding-top: 3em;
    text-align: center;
  }
  .text2 {
    padding-top: 3em;
    text-align: center;
  }

  .cover1 {
    margin-top: 30px;
  }
  .cover2 {
    margin-top: 30px;
  }
  .section2 {
    padding-top: 0px;
  }
  .section3 {
    padding-top: 80px;
  }
}

/*FOOTER START*/

.footer {
  padding: 40px 0;
  background-color: var(--body-color1);
}
.footer-col {
  width: 20%;
  padding: 0 15px 25px 15px;
}
.footer-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-col p {
  line-height: 1.6em;
  font-size: 0.7em;
  padding-bottom: 20px;
}
.footer-col h2 {
  color: var(--font);
}
.footer-col h2,
h4 {
  padding-bottom: 15px;
}
.footer-col h4 {
  color: var(--font);
  font-weight: normal;
}
.footer-col ul li {
  padding-bottom: 10px;
}

.footer-col img {
  padding: 0 5px;
}
.footer-col ul li a {
  text-decoration: none;
  color: #4940eb;
  font-size: 0.8em;
}

@media screen and (max-width: 1135px) {
  .footer-col {
    width: 50%;
  }
  .footer-col p {
    font-size: 1em;
  }
  .footer-col ul li a {
    font-size: 1em;
  }
}
@media screen and (max-width: 611px) {
  .footer-col {
    width: 100%;
  }
}
/*FOOTER END*/
