@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font: #5a5454;
  --body-color1: #f5f5f5;
  --body-color: #eeeeee;
  --p-color: #5a5454b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  font-family: "Roboto", sans-serif;
}
p {
  color: var(--p-color);
}
ul {
  list-style: none;
}
span {
  color: #8529b9;
  font-weight: bold;
}
/*HEADER START*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.logo a {
  text-decoration: none;
  color: var(--font);
}
.logo h1 {
  font-weight: normal;
}
.logo {
  display: flex;

  letter-spacing: 4px;
  font-size: 1em;
  flex-basis: 25%;
  justify-content: right;
  font-family: "Lato", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.filler {
  flex-basis: 25%;
}
.nav-links a {
  color: var(--font);
  text-decoration: none;
  letter-spacing: px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}

.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #8461bd;
  display: block;
  margin: auto; /*MAKAO*/
  transition: 0.5s;
}
.nav-links li:hover::after {
  width: 100%;
}

.burger {
  display: none;
}
.burger div {
  /*display:block; dodao*/
  cursor: pointer;
  width: 25px;
  height: 3px;
  background-color: var(--font);
  margin: 5px;
  transition: 0.3s ease;
}
@media screen and (max-width: 1135px) {
  .nav-links {
    width: 60%;
  }
  .filler {
    display: none;
  }
  .logo {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    flex-basis: 80%;
    justify-content: flex-start;
  }
  .filler {
    display: none;
  }
  body {
    overflow-x: hidden;
    font-size: 13px;
  }
  .nav-links {
    z-index: 1000;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center; /*makao*/
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background: #e6e6e699;
    backdrop-filter: blur(1rem);
    /*text-align:center dodao*/
  }
  .nav-links a {
    color: #242627;
    font-size: 1em;
  }

  /*
    .nav-links li{
      margin:1rem 0;
    }
  */
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.burger-active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-active .line2 {
  opacity: 0;
}

.burger-active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*HEADER END*/
/*PROMO SECTION START*/

.promo-section {
  display: flex;
  max-width: 80%;
  margin: auto;
  min-height: 50vh;
  align-items: center;
}
.promo-text h3::after {
  content: "\00AE";
}

.promo-text {
  flex: 1;
  color: var(--font);
  font-size: 1.5em;
}
.promo-text h3 {
  font-weight: normal;
  padding-bottom: 10px;
}
.promo-text h2 {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.promo-text p {
  color: var(--font);
  font-size: 0.7em;
}

.promo-text p,
h2 {
  margin-top: 20px;
}

.promo-button {
  margin-top: 20px;
  color: white;
  padding: 9px 25px;
  background: linear-gradient(to right, #4940eb 50%, #a489cf 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(209, 209, 209);
  transition: all 0.3s ease 0s;
}
button:hover {
  transform: scale(1.1);
}

.promo-cover {
  position: relative;
  flex: 1;
}

.keyboard {
  filter: drop-shadow(0px 5px 3px black);
}

.purple-cover {
}
@media screen and (max-width: 700px) {
  .promo-text {
    padding-top: 3em;
    text-align: center;
  }
}

@media screen and (max-width: 1135px) {
  .promo-section {
    flex-direction: column;
    text-align: center;
  }
}
/*PROMO SECTION END*/
/*SERVICES SECTION START*/

.services-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--body-color1);
  padding-top: 80px;
  padding-bottom: 80px;
}

.services-text {
  text-align: center;
  color: var(--font);
  padding-bottom: 50px;
  line-height: 1.6em;
}

.services-text h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.services-text h2 {
  margin-top: 0;
  font-weight: 400;
}

/*grid*/

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.grid-item {
  background-color: var(--body-color1);
  text-align: center;
  padding: 0 20px 30px 20px;
  transition: 0.4s;
  box-shadow: 20px 20px 30px rgb(238, 238, 238);
}
.grid-item h4 {
  font-weight: normal;
  color: var(--font);
  padding-bottom: 10px;
}

.grid-item img {
  padding: 80px 0 60px 0;
}
.grid-item button {
  margin-top: 20px;
  color: var(--font);
  padding: 7px 20px;
  background: var(--body-color1);
  border: var(--font);
  border-style: solid;
  border-width: thin;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.grid-item p {
  line-height: 1.6em;
}
.grid-item:hover {
  background: #8529b9;
  box-shadow: 20px 20px 30px #8429b962;
  color: var(--body-color1);
}
.grid-item:hover h4 {
  color: var(--body-color1);
}
.grid-item:hover p {
  color: var(--body-color1);
}
.grid-item:hover button {
  border-style: none;
}
.grid-item:hover img {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 611px) {
  .services-grid {
    display: flex;
    flex-direction: column;
  }
  .grid-item img {
    padding: 40px 0 30px 0;
  }
}

@media screen and (max-width: 1135px) {
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/*SERVICES SECTON END*/
/*FOOTER START*/

.footer {
  padding: 70px 0;
  background-color: var(--body-color1);
}
.footer-col {
  width: 20%;
  padding: 0 15px 25px 15px;
}
.footer-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-col p {
  line-height: 1.6em;
  font-size: 0.7em;
  padding-bottom: 20px;
}
.footer-col h2 {
  color: var(--font);
}
.footer-col h2,
h4 {
  padding-bottom: 15px;
}
.footer-col h4 {
  color: var(--font);
  font-weight: normal;
}
.footer-col ul li {
  padding-bottom: 10px;
}

.footer-col img {
  padding: 0 5px;
}
.footer-col ul li a {
  text-decoration: none;
  color: #4940eb;
  font-size: 0.8em;
}

@media screen and (max-width: 1135px) {
  .footer-col {
    width: 50%;
  }
  .footer-col p {
    font-size: 1em;
  }
  .footer-col ul li a {
    font-size: 1em;
  }
}
@media screen and (max-width: 611px) {
  .footer-col {
    width: 100%;
  }
}
